<!DOCTYPE html>
<!-- code partially used from: https://spring.io/guides/gs/handling-form-submission/
			https://docs.spring.io/spring-security/site/docs/4.1.3.RELEASE/guides/html5/form-javaconfig.html -->

<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRUD App</title>
</head>
<body>
	<h1>CRUD App</h1>

	<nav>
		<a href="/">Home</a>
	</nav>

	<br>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
</body>
</html>