<!DOCTYPE html>
<!-- code partially used from: https://spring.io/guides/gs/handling-form-submission/ -->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head th:replace="general :: head">
	</head>

	<body>
		<div class="container">
			<div class="navhead">
				<div th:replace="general :: header"></div>

				<div th:replace="general :: navbar"></div>
			</div>

			<div class="content">
				<h2> Register! </h2>

				<div class="form">
					<form th:action="@{/register}" th:object="${formInput}" method="post">
						<ul>
							<li>
								Email:
								<input type="email" th:field="*{email}" />
							</li>

							<li>
								Password:
								<input type="password" th:field="*{password}" />
							</li>

							<li>
								<input type="submit" value="Register" />
							</li>
						</ul>
					</form>
				</div>
			</div>

			<div th:insert="general :: footer"></div>
		</div>
	</body>
</html>