<!DOCTYPE html>
<!--code partially used from: https://spring.io/guides/gs/handling-form-submission/-->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head th:replace="general :: head">
	</head>

	<body>
		<div class="navhead">
			<div th:replace="general :: header"></div>

			<div th:replace="general :: navbar"></div>
		</div>

		<p th:if="${success}">Successfully Registered! You can login now</p>
		<p th:unless="${success}">Email already exists</p>

		<div th:insert="general :: footer"></div>
	</body>
</html>